/* I'm cheating a bit */

html, body {
  margin-top: 0;
  height: 100%;
  overflow: auto;
  font-size: 14px;
}
body {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

* {
  box-sizing: border-box;
}

pre {
  margin:0;
  overflow: auto;
  max-height: 90%;
  width: 100%;
  border-radius: 3px; /* Prevents bad clipping in Chrome */
  white-space: pre-wrap;
}

#content {
  position: relative;
  margin: 12px 12px 20px;
}

#header {
  position: fixed;
  bottom: 0;
  height: 20px;
  left: 0;
  right: 0;
  padding: 0 10px;
  z-index: 10;
  background:rgba(0,0,0,.3);
  border-radius: 3px;
}

a:after {
  content: '';
  padding-right: 5px;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: inherit;
}

a:last-of-type:after {
  border: none;
}

.md {
  font-family: -apple-system, Segoe UI, Helvetica, Arial
}

.md li {
  margin: 5px 0;
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6{
  margin: 20px 0 10px;
}

.md ul, .md p {
  margin: 10px 0;
}


#work-text {
  z-index: 2;
  transform: '$workTxtTrans';
}

#intro-text{
  width:100%;
  transform: translateX(0);
  margin-top: '$introMarginTop';
}

.img-tedy{
	width:138px;
	height: 136px;
	display: inline-block;
	background: url(../img/tedy.png)
}
  