

/**
 * 快好了啦
 */

 pre:hover{
	box-shadow: 0px 0px 40px -5px rgba(255,255,255,0.4);
}

#skip-animation, #pause-resume {
	display: none;
}


 /**
  * 希望你喜欢这个网页
  *
  * 这个网页是改写自一位叫 Samuel Reed 的作者开源的一个代码库
  *
  * 可以查看他的代码库: https://github.com/STRML
  *
  * 或者来我们的 AfterShip 的 github 查看源码: https://github.com/AfterShip
  */


 /**
  * 对了, 你可以在这个代码框编辑哦, 尝试一下修改代码吧!
  */

