/**
 * 右边这个 markdown 文档不是太好看, 让我们渲染一下它吧!
 */

#work-text.flipped {
  -webkit-transform: '$workTxtTrans' rotateY(180deg) rotateZ(180deg);
}

#work-text .md {
  -webkit-transform: rotateY(180deg) rotateZ(180deg);
  margin-top: 800px;
}

/**
 * 准备好了, 现在把 markdown 渲染
 */
