
/**
 * 先给所有元素加上过渡效果
 */

* {
  transition: all 1s;
}


/**
 * 这好像没有什么变化
 *
 * 白底黑字有点无聊啊, 让我们加点样式
 */

html {
  background: #252f33;
}


/***
 * 等等...
 */

pre, a {
  color: white;
}


/**
 * 这样好一点了
 *
 * 但是这个编辑区有点宽了
 *
 * 我要让它看起来舒服些
 */

#content{
  margin-top: '$introMarginTop';
}

pre:not(:empty){
  padding: 10px 20px 20px;
}

pre {
  overflow: auto;
  width:'$preWidth';
  background: #1b2123;
  font-size: 15px;
  transform: '$preTrans';
  font-family: monospace;
  border-radius: 6px;
}


/**
 * 这样好点了. 但是所有代码都是白色的啊~
 * 让我们把它们更好阅读吧
 */

.comment       { color: #6a9955; font-style: italic; }
.selector      { color: #d7ba7d; }
.selector .key { color: #9cdcfe; }
.key           { color: #9cdcfe; }
.value         { color: #ce9178; }
.value.px      { color: #ce9178; }


/**
 * 现在应该比较适合观看了, 我们要准备加入一些内容了
 * 让我们先做一些准备工作
 */
 
#style-text {
  max-height: '$firstStagePreMaxH';
  transform: translateX(0);
  width: '$styleTxtW';
}
html {
  background: #0c0f14;
}
  


/**
 * 这样就足够了吗？还不够，我们继续看吧！
 */

#work-text {
  '$workTxtPos'
  background: rgb(255,255,255);
  color: #333;
  max-height: '$firstStagePreMaxH';
}

