/**
 * 右边这个 markdown 文档不是太好看, 让我们渲染一下它吧!
 */

body {
  -webkit-perspective: 1000px;
}

#work-text.flipped {
  -webkit-transform: translateX(100%) rotateY(180deg) rotateZ(180deg);
}

#work-text .md {
  -webkit-transform: rotateY(180deg) rotateZ(180deg);
  margin-top: 800px;
}

/**
 * 好, 我们准备好了
 *
 * 3...
 * 2...
 * 1...
 *
 * .
 * ...哈哈🤡, 什么都没有
 * 
 * 不开玩笑了, 现在把 markdown 渲染
 *
 */
