

/**
 * 快好了啦
 */

pre:hover{
  box-shadow: 0px 0px 40px -5px rgba(255,255,255,0.7);
}

#skip-animation, #pause-resume {
  display: none;
}


 /**
  * 希望你喜欢这个网页
  *
  * 来我们 AfterShip 的 GitHub 查看源码: https://github.com/AfterShip
  */